.App {
  text-align: center;
}

.Slack-logo {
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Main_login_page {
}

.login_index {
}

.Goolge_login_btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

hr {
  display: block;
  border: none;
  border-top: 1px solid #ddd;
  clear: both;
}

.horizontal_content_line {
  flex-grow: 1;
  margin: 0;
}

.email_input_box {
  margin-top: 20px;
}

.email_login_box {
  margin-top: 8px;
}
