.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  min-height: 100%;
  font-family: NotoSansKR, Slack-Lato, appleLogo, sans-serif;
}

header {
  padding: 48px 0 40px;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.header_sidelink {
  text-align: right;
  font-size: 13px;
  color: rgba(var(--sk_foreground_max_solid, 97, 96, 97), 1);
  padding-right: 40px;
}

.SignUp_sidelink {
  font-weight: 700;
  color: #1264a3;
  text-decoration: none;
}

.login_heading {
  font-family: Slack-Larsseit, Helvetica Neue, Helvetica, Segoe UI, Tahoma,
    Arial, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 46px;
  max-width: 700px;
  text-align: center;
  letter-spacing: -0.75px;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;
  color: #454245;
  max-width: 700px;
  text-align: center;
}

.login_index {
}

/* 구글 로그인 버튼 */
.full_width {
  width: 100%;
  max-width: 100%;
}

.c-google_login {
  background-color: #fff;
  border: 2px solid #4285f4;
  color: #4285f4;
}

.c-third_party_auth {
  display: flex;
  padding: 0;
}

.c-button--large {
  font-size: 18px;
  font-weight: 900;
  height: 44px;
  min-width: 96px;
}

.c-button {
  user-select: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  position: relative;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

/* 여기까지 */

hr {
  display: block;
  border: none;
  border-top: 1px solid #ddd;
  clear: both;
}

.horizontal_content_line {
  flex-grow: 1;
  margin: 0;
}

.email_input_box {
  margin-top: 20px;
}

.email_login_box {
  margin-top: 8px;
}
