html,
body,
#root,
#app > div {
  height: 100%;
}

form,
body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: NotoSansKR, Slack-Lato, appleLogo, sans-serif;
}

.app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  min-height: 100%;
  font-family: NotoSansKR, Slack-Lato, appleLogo, sans-serif;
}

header {
  padding: 48px 0 40px;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.center-col {
  text-align: center;
}

.template {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  align-items: center;
  max-width: 800px;
  box-sizing: inherit;
}

.heading {
  font-family: Slack-Larsseit, Helvetica Neue, Helvetica, Segoe UI, Tahoma,
    Arial, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 46px;
  max-width: 700px;
  text-align: center;
  letter-spacing: -0.75px;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;
  color: #454245;
  max-width: 700px;
  text-align: center;
}

.signup-form {
  max-width: 400px;
  width: 100%;
}

.signup-form-input {
  position: relative;
  box-sizing: inherit;
}

input {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding: 11px 12px 13px;
  height: 44px;
  font-size: 18px;
  line-height: 1.33333333;
  padding-right: 40px !important;
  border-radius: 4px;
  border: 1px solid rgba(29, 28, 29, 0.3);
  transition: border 80ms ease-out, box-shadow 80ms ease-out;
  box-sizing: border-box;
  width: 100%;
  color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
  background-color: rgba(var(--sk_primary_background, 255, 255, 255), 1);
}

.input-default {
  margin: 0 0 20px;
}

.form-button {
  color: #fff;
  background-color: #611f69;
  border: none;
  margin-bottom: 20px;
  width: 100%;
  font-size: 18px;
  font-weight: 900;
  height: 44px;
  min-width: 96px;
  padding: 0 16px 3px;
  transition: all 80ms linear;
  --saf-0: rgba(var(--sk_primary_foreground, 29, 28, 29), 0.3);
  background-clip: padding-box;
  text-decoration: none;
  border-radius: 4px;
  align-items: center;
  position: relative;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  position: relative;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.form-ts-cs {
  color: rgba(var(--sk_foreground_max_solid, 97, 96, 97), 1);
}

.alert-box {
  margin-bottom: 16px;
  justify-content: flex-start;
  margin: 0 0 12px;
  padding: 8px 12px 10px;
  border-top: 0;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38461538;
  background-color: rgba(224, 30, 90, 0.1);
  border: 1px solid rgba(224, 30, 90, 0.4);
  display: flex;
}

.alert-icon {
  padding-right: 10;
  margin-right: 10px;
}

.alert-message {
  font-variant-ligatures: common-ligatures;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
